:root {
  --sans: "Ubuntu", sans-serif;
  --mono: "Courier New", Courier, monospace;
}

body {
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

#holder {
  margin-top: 100px;
  background-color: transparent;
  width: 50%;
  align-self: center;
}

.commandLine {
  height: 60vh;
  width: 100%;
  display: grid;
  background-color: rgba(0,0,0,.1);
  grid-template-rows: 40px auto;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
}
/*
#display {
  background-color: rgba(255,255,255,.1);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#commandLine input {
  width: 100%;
  padding: 5px;
  background-color: rgba(255,255,255,.1);
  border: none;
  color:white;
}
*/
#top {
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: rgb(50,50,50);
}

#top p {
  font-family: var(--sans);
  margin-top: 10px;
  margin-bottom: 10px;
}

#receipts {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  padding: 10px;
  background-color: rgba(255,255,255,.1);
}

#output p {
  margin: 0;
  line-height: 1.2;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

#input-line {
  margin-top: 0px;
  display: flex;
  align-items: center;
}

#prompt {
  margin-top: 0px;
  font-family: var(--sans);
  color: white;
  margin-right: 3px;
  white-space: pre;
}

#receiver {
  margin-top:0px;
  font-size: 16px;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: var(--sans);
}

#receipts p {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 0;
  line-height: 1.2;
  font-family: var(--sans);
  color: white;
}

#appContainer {
  display: none;
  background-color: rgba(255,255,255,.1);
}

#backDisplay {
  top: 0px;
  overflow-wrap: anywhere;
  font-family: var(--sans);
  margin-top: 0px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  color: white;
  height: 100%;
  width: 100%;
}
